*{
    background-color: lightgrey;
    box-sizing: content-box;
}

body{
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div{
    background-color:rgba(128, 240, 188, 0.808);
    width: 330px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    color: black;
    font-size: 22px;
}
p#numeros{
     
    background-color:rgba(240, 128, 128, 0.452);
    width: 150px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    color: black;
    font-size: 22px;
}