
body {
    margin: 0% auto;
    padding: 0px;
    background-color: green;
}

.hamburger,
#hamburger {
    display: none;
}

body header {
    box-sizing: border-box;
    background-color: #056DD5;
    max-width: 60%;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom: 0%;
    color: white;
    text-decoration: none;
    text-align: left;
    padding-left: 20px;
    line-height: 100%;
    border-top:8px solid white;
    border-left: 8px solid white;
    border-right: 8px solid white; 
    border-bottom: none;
    
    
    
 
}

#news article header {
    position: relative;
    position:fixed;
    margin: 0;
    padding: 0;
}

#news article p {
    box-sizing: border-box;
    max-width: 60%;
    height: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: rgb(255, 255, 255);
    margin: 1em;
    padding-left: 1em;
    
}

ul {
    box-sizing: border-box;
    list-style-type: none;
    width: 60%;
    height: 100%;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    padding: 0;
    background-color: white;
}

li {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 96.4%;
    border-top-style: solid;
    border-top-color: red;
    font-family: Poppins;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 17px;
    color: black;
    
    background-color: white;
    text-align: center;
    list-style-type: none;
    padding: 1.2em;
}

#related {
    box-sizing: border-box;
    border-left: 8px solid white;
    border-right: 8px solid white; 
    border-bottom: none;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-family: Poppins;
    font-size: 16.4px;
    line-height: 22.5px;
    padding: 1em;
    padding-bottom: 1.0em;
    background-color: #2A2F33;
    color: white;
    
    
}

#news article {
    box-sizing: border-box;
    border-left: 8px solid white;
    border-right: 8px solid white; 
    border-bottom: none;
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    font-family: "Arial";
    padding: 1em;
    background-color: rgb(255, 255, 255);
}

@font-face {
    font-family: "Lora", "Poppins";
    src: url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:300,200');
}

#signup {
    box-sizing: border-box;
    text-align: left;
    word-spacing: 30px;
    
    color: white;
}

footer {
    padding: 0;
    margin: 0;
}

.author,
.tags,
.date,
.comments {
    background-color: #F4655F;
    color: white;
    text-decoration: none;
    text-align: left;
    padding: 1em;
    margin: 1em;
}

footer p {
    background-color: #2A2F33;
    margin: 1em;
    padding: 1em;
    color: white;
}

 img  {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    
   
    
  
   
}

article header h1 a {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left;
    text-decoration: none;
    text-shadow: 5px 5px 5px black;
    font-size: 30px;
    padding: 20px;
    width: 10em;
    color: rgb(0, 0, 0);
}