@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #a9a9a9;
    width: 200px;
    position: fixed;

}
li a{
    text-align: center;
    font-size: 20px;
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
}

li a:hover{
    background-color: #8C8C7E;
    

}
.active{
    background-color: #627C8C ;
}
*{
    font-family: 'Ramaraja', serif;
}
.conteudo{
margin-left: 210px;
}

}