@charset "UTF-8";

*{
    max-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body{

    background-image: linear-gradient(to right,#113059,#26528cb3);
    /*Define uma imagem de fundo que pode ser um gradiente de combinaçao de formas e cores;*/
}
main{
    background-color: #ffff;
    width: 600px; /*Largura do bloco main*/
    padding: 10px; /* Espaçamentos antes e depois do texto*/
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #1630539e;
}
h1{
    color: #26528C;
    text-align: center;
    text-shadow: 1px 1px 2px #1126429c;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: #113059;
    font-family: 'Times New Roman', Times, serif;
}

p{
    /* text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; Usa-se em ou px(1em=16px (medida padrao) - recomendaçao w3c
    
    Utiliza-se uma comando shorthand para condensar todas as características de uma fonte numa única linha

    shorthand font deverá respeitar a seguinte ordem:

    - font: font-style -> font-weight -> font-size -> font-family;
    
    */
    font: italic normal 15.3px Arial,Helvetic,sans-serif;

}